<div class="authBlock">
  <h3>Register</h3>
  <div class="formGroup">
    <input type="text" class="formControl" placeholder="Email" [(ngModel)]="userEmail" required
      [ngClass]="{'error': emailError !== ''}" />
    <div *ngIf="emailError" class="error-message">{{ emailError }}</div>
  </div>
  <div class="formGroup">
    <input type="password" class="formControl" placeholder="Password" [(ngModel)]="userPassword" required
      [ngClass]="{'error': passwordError !== ''}" />
    <div *ngIf="passwordError" class="error-message">{{ passwordError }}</div>
  </div>
  <div class="formGroup">
    <input type="button" class="btn btnPrimary" value="Save" (click)="register()" />
  </div>
  <div class="formGroup">
    <p>Already registered? <a routerLink="/login">Sign in</a></p>
  </div>
</div>