.header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 16px;
  background-color: #000;
  color: #fff;
}

.btnPrimary {
  display: flex;
  width: 60px;
  margin-left: 16px;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: rgb(255, 105, 238);
    color: #fff;
  }
}

.logo-block {
  display: flex;
  align-items: center;

  img {
    border-radius: 5px;
  }

  h3 {
    margin: 0;
    margin-left: 20px;
  }
}